<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
            {% for state in data|sort(attribute='name') %}
            <LI>{{ state.id }}: <B>{{ state.name }}</B>
                <UL>
                    {% for citys in data2|sort(attribute='name') %}
                    {% if state.id == citys.state_id %}
                    <LI> {{citys.id}} <B>{{citys.name}}</B></LI>
                    {% endif %}
                    {% endfor %}
                </UL>
            </LI>
            {% endfor %}
        </UL>
    </BODY>
</HTML>
